body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.about-page{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 260px;
}

.about-us{
    margin-top: 30px;
}
.about-isi{
    margin-top: 12vh;
    border: 1.5px solid var(---black);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.kontak-page{
    margin-top: 8vh;
    border: 1.5px solid var(---black);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}