.Admin-header{
    padding: 20px;
    width: 100%;
    background-color: var(---white);
}

.project-status{
    width: 100%;
    padding: 20px;
    background-color: var(---gray);
    color: var(---white);

    .project-status-header{
        margin: auto;
        margin-bottom: 50px;
    }

    .status{
        padding-left: 100px;
        padding-right: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .status-container{
            background-color: var(---white);
            margin: auto;
            width: 320px;
            height: 210px;
            color: var(---black);
            text-align: center;
            align-content: center;
            border-radius: 8px;
        }

    }
}