.list-project{
    padding: 20px;

    .admin-option{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        width: 100%;
    }

    .find-project{
        width: 100%;
        height: 45px;
        display: flex;
        gap: 10px;
        margin: auto;
        margin-left: 0;
        margin-bottom: 20px;

        .find-project-input{
            max-width: 50%;
            padding-left: 20px;
            padding-right: 20px;
        }

        .find-project-button{
            width: 100px;
            border: none;
            background-color: var(---pink);
            color: var(---white);
        }
    }

    .add-account-button{
        text-decoration: none;  
        text-align: right;
        width: 100%;
        margin: auto;
        margin-top: 0;

        button{
            width: 150px;
            margin: auto;
            margin-right: 0;
            background-color: var(---pink);
            color: var(---white);
            border: none;
        }

    }

    .list-table{
        border-style: solid;
        border-width: 2px;
        border-color: var(---black);

        .cenCol{
            text-align: center;
        }

        th{
            text-align: center;
            background-color: var(---blue);
            color: var(---white);
            border-style: solid;
            border-width: 1px;
            font-family: "Atkinson Hyperlegible Next";
            font-size: 14px;
        }
        td{
            border-style: solid;
            border-width: 1px;
            align-content: center;
            align-items: center;
            font-family: "Atkinson Hyperlegible Next";
            font-size: 14px;
        }
        .project-info-button{
            margin: auto;
            background-color: var(---pink);
            border: none;
            color: var(---white);
            min-width: 50px;
            border-radius: 3px;
        }
    }

}

.detail-proyek{
    width: 1080px;
    max-width: 75%;
    /* background-color: aqua; */
    margin: auto;
    padding: 20px;

    .detail-header-yanglainnya{
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        margin-bottom: 20px;
        box-shadow: 0 2px var(---gray);
    }

    .detail-back-btn{
        width: 100%;
        height: 100%;
        align-content: center;
        margin-left: -100%;
        a{
            color: var(---black);
            text-decoration: none;
        }
    }
    
    .detail-header-proyek{
        margin: auto;
        margin-left: -20%;
        height: 100%;
        align-content: center;
        width: 100%;
    }

    ul{
        list-style-type: none;
        padding: 0%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .detail-list{
        list-style-type: none;
        padding: 0;
        width: 100%;
        /* background-color: aqua; */

    }

    .select-option{
        width: 100%;
        height: 25px;
        margin: auto;
    }

    .detail-panel-project{
        margin: auto ;
        width: 100%;
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            .detail-header{
                width: 200%;
            }
        }
        
    }

    .detail-header{
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        ul{
            width: 100%;
        }
    }

    .detail-value{
        background-color: var(---lightGray);
        padding: 10px;
        border-radius: 8px;
        margin: auto;
        width: 100%
    }

    .detail-image{
        width: 100%;
        ul{
            padding: 20px;
            display: flex;
            flex-direction: row;
            overflow-x: auto;
        }
    }

    .detail-group ul{
        width: 100%;
        background-color: var(---pink);
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* gap: 10px; */
        border-radius: 8px;
        color: var(---white);
        li{
            width: 100%;
        }
        li ul{
            display: flex;
            flex-direction: column;
            width: 100%;
            li{
                background-color: var(---white);
                color: var(---black);
                a{
                    text-decoration: none;
                    color: var(---black);
                }
            }
        }
    }
        .detail-value{
            font-size: 18px;
        }

        .detail-desc{
            white-space: pre-wrap;
        }

        .detail-file{
            text-decoration: none;
        }
        
}

.tambah-akun{
    /* background-color: aqua; */
    width: 100%;
    margin: auto;
    form{
        display: flex;
        flex-direction: column;
    }
}