.list-project{
    padding: 20px;

    .find-project{
        width: 100%;
        display: flex;
        gap: 20px;
        margin: auto;
        margin-bottom: 20px;

        .find-project-input{
            width: 250px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .find-project-button{
            width: 50px;
            border: none;
            background-color: var(---pink);
            color: var(---white);
        }

    }

    .list-table{
        border-style: solid;
        border-width: 2px;
        border-color: var(---black);

        .cenCol{
            text-align: center;
        }

        th{
            text-align: center;
            background-color: var(---blue);
            color: var(---white);
            border-style: solid;
            border-width: 1px;
        }
        td{
            border-style: solid;
            border-width: 1px;
            align-content: center;
            align-items: center;
            font-family: "Atkinson Hyperlegible Next";
            font-size: 14px;
        }
        .project-info-button{
            margin: auto;
            background-color: var(---pink);
            border: none;
            color: var(---white);
            min-width: 50px;
            border-radius: 3px;
        }
    }

}