
    #kontak{
      border: 1px solid black;
      border-radius: 20px;
      padding: 10px;
      background-color: white;
    }
    #contact{
        background-color:rgba(192, 218, 255, 0.84);
    }