@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,226;1,226&family=Jersey+10&family=Jersey+15&family=Jersey+25&family=Pixelify+Sans:wght@400..700&family=Staatliches&display=swap');

:root{
    ---white: rgba(252, 252, 252, 1);
    ---black: rgba(0, 0, 0, 1);
    ---gray: rgb(59, 59, 59);
    ---lightGray: rgb(236, 236, 236);
    ---blue: rgb(68, 106, 231);
    ---pink: rgb(220, 41, 158);
    ---yellow: rgb(238, 156, 50);
    ---dark-blue: rgb(33, 40, 62);
    ---dark-blue2: rgb(47, 56, 85);
}

main{
    min-height: 80vh;
    width: max(960px);
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}