@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,226;1,226&family=Jersey+10&family=Staatliches&display=swap');

:root{
    ---white: rgba(252, 252, 252, 1);
    ---black: rgba(0, 0, 0, 1);
    ---blue: rgba(56, 68, 235, 1);
    ---yellow: rgb(238, 156, 50);
}

main{
    min-height: 80vh;
    width: max(960px);
    margin: auto;
}