.project-section {
    padding: 20px 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-add {
    background: #4C6EF5;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-add:hover {
    background: #3b59ca;
}

.table-wrapper {
    overflow-x: auto;
    border: 2px solid black;
    border-radius: 12px;
}

.project-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.project-table thead {
    background: #f1f3f5;
}

.project-table th, .project-table td {
    padding: 12px 16px;
    text-align: left;
    font-size: 14px;
}

.project-table th {
    font-weight: 700;
    color: #343a40;
}

.project-table tbody tr {
    transition: 0.2s;
}

.project-table tbody tr:hover {
    background: #f8f9fa;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}

/* WARNA STATUS */
.pending {
    background: #ffec99;
    color: #b88600;
}
.approved {
    background: #b2f2bb;
    color: #2b8a3e;
}
.rejected {
    background: #ffa8a8;
    color: #c92a2a;
}

.actions {
    display: flex;
    gap: 6px;
}

.btn-edit, .btn-delete {
    padding: 6px 10px;
    border: none;
    font-size: 13px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.btn-edit {
    background: #4dabf7;
    color: white;
}
.btn-delete {
    background: #fa5252;
    color: white;
}

.empty-box {
    padding: 25px;
    background: #f8f9fa;
    border-radius: 12px;
    color: #6c757d;
    text-align: center;
}