
    /* HERO SECTION */
    .hero-section {
      position: relative;
      height: 60vh;
      background: url("../image/gsc.jpg") center/cover no-repeat;
    }

    .hero-section .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 35, 82, 0.84); /* Overlay biru tua transparan */
      z-index: 1;
    }

    .hero-section .container {
      z-index: 2;
    }

    #about{
            background-color:rgba(192, 218, 255, 0.84);
    }
    #about img {
            display: block;
            margin: 0 auto; /* ini akan membuat gambar di tengah */
        }
    #spacer {
      height: 60px;
      border-bottom: 2px solid black;
      border-top: 2px solid black;
    }
    
    /* Responsive fix */
    @media (max-width: 768px) {
      .hero-section {
        height: 60vh;
      }
      .hero-section h1 {
        font-size: 2rem;
      }
      .hero-section p {
        font-size: 1rem;
      }
        #about img {
            display: block;
            margin: 0 auto; /* ini akan membuat gambar di tengah */
        }
    }